<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="container">

  <div class="description mt-5">
    <h1>Who are we?</h1>
    <br>
    <p>Our mission is to connect dog owners with trusted and passionate dog walkers in their local area. Our platform offers a seamless experience, allowing busy pet parents to easily find and book reliable walkers for their beloved companions. For aspiring dog walkers, Walkywoofs provides an exceptional opportunity to turn their love for dogs into a rewarding career. We prioritize trust, reliability, and the well-being of our furry friends, ensuring that every dog receives the care and attention they deserve.</p>
  </div>

  <div class="home-grid">

    <% @dogwalks.each do |dogwalk| %>
      <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="assets/example-user.jpg">
        <div class="card-body">
          <h5 class="card-title"><%= dogwalk.user.nickname %></h5>
          <div class="card-text">
            <p><strong>Area:<%= dogwalk.neighborhood %></strong></p>
            <p><strong>Hourly rate:<%= dogwalk.hourly_rate %></strong></p>
            <a href="#" class="dogwalk-link">More details...</a>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
