<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="container">

  <div class="description mt-5">
    <h1>Who are we?</h1>
    <br>
    <p>Our mission is to connect dog owners with trusted and passionate dog walkers in their local area. Our platform offers a seamless experience, allowing busy pet parents to easily find and book reliable walkers for their beloved companions. For aspiring dog walkers, Walkywoofs provides an exceptional opportunity to turn their love for dogs into a rewarding career. We prioritize trust, reliability, and the well-being of our furry friends, ensuring that every dog receives the care and attention they deserve.</p>
  </div>

  <div class="home-grid">

  <div class="card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/example-user.jpg" alt="dog walker picture">
      <div class="card-body">
        <h5 class="card-title">Mika Tanaka</h5>
        <p class="card-text">Description of the dog walker</p>
        <a href="#" class="dogwalk-link">See details</a>
      </div>
    </div>

    <div class="card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/example-user.jpg" alt="dog walker picture">
      <div class="card-body">
        <h5 class="card-title">Mika Tanaka</h5>
        <p class="card-text">Description of the dog walker</p>
        <a href="#" class="dogwalk-link">See details</a>
      </div>
    </div>

    <div class="card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/example-user.jpg" alt="dog walker picture">
      <div class="card-body">
        <h5 class="card-title">Mika Tanaka</h5>
        <p class="card-text">Description of the dog walker</p>
        <a href="#" class="dogwalk-link">See details</a>
      </div>
    </div>

    <div class="card mt-3" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/example-user.jpg" alt="dog walker picture">
      <div class="card-body">
        <h5 class="card-title">Mika Tanaka</h5>
        <p class="card-text">Description of the dog walker</p>
        <a href="#" class="dogwalk-link">See details</a>
      </div>
    </div>

  </div>

  <!-- below button is just for test purpose, will be moved -->
  <div class="container mt-5">
    <h1> just for test purpose <h1>
    <%= link_to "Create Dogwalk", new_dogwalk_path, class: "btn btn-primary" %>
  </div>

</div>
