.card {
  border-radius: 10px;
  width: 18rem;
  height: 100%;
  overflow: hidden;
}

.card-img-top {
  width: 100%; /* Set the width to fill the card container */
  height: 250px; /* Set the desired height for the image */
  object-fit: cover; /* Maintain aspect ratio and crop image to fit */
}

.card-body {
  height: 180px; /* Set the desired height for the card body */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px; /* Add padding for content spacing */
}

.dogwalk-link {
  text-decoration: none;
  color: #5e626f;
}
